@font-face {
  font-family: 'NPSfontBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body{
  background-color: #282828;
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'NPSfontBold', sans-serif;
}

input, textarea, button{
  outline: none;
}
